<!DOCTYPE html>
<html ng-app="friendsList">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="mainCtrl">
    <h1>"My Friends"</h1>

    <div ng-repeat="friend in friends">
        <!-- ng-repeat is looping through the friends array with friend as the variable -->

        <p>{{friend}}</p>
        <!-- {{friend}} is diplaying the array -->


    </div>


    <div>
        <input ng-model="name" placeholder="Add Friend">
        <button ng-click="addFriend(name)" class="pushButton"></button>
        <!-- ng click has the addFriend() and invokes it to push param name onto array friends. ng-model holds name param that will be passed into the addFriend function on ng-click -->
    </div>

    <div>

        <input ng-model="email" placeholder="email"> {{ email }}
        <!-- Testing two way binding with ng-model -->

    </div>

    <div>

        <input ng-model="state" placeholder="state"> {{state}}
        <!-- Testing two way binding with ng-model -->

    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/mainCtrl.js" charset="utf-8"></script>

</body>

</html>
